@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.header-container-main {
    max-width: 1440px; 
    width: 100%;
    font-family: Roboto;
    margin: 0 auto;
}

.header-logo {
    width: 7.8%;
    margin: 1.45833333% 0px 0px 8.40277778%; 
}

.header-container{
    max-width: 1440px;
    width: 100%;
    display: flex;
}

.header-propirties {
    width: 43.6805556%;
    height: 21.25%;
    margin: 6.04166667% 0px 0px 0px;
}

.header-image-information{
    width: 80.9220986%;
    height: 2.5%;
    display: flex;
}

.header-globus {
    width: 36.4341847%;
    height: 109.375%;
    margin-right: 4.91159136%;
    display: flex;
}

.image-globus{
    width: 13.75%;
    height: 65.625%;
}

.text-globus{
    padding-left: 4%;
    font-size: 1.38888889vw;
    white-space: nowrap;
}

.header-clock{
    width: 31.4341847%;
    height: 109.375%;
    display: flex;
    margin-right: 4.91159136%;
}

.image-clock{
    width: 13.75%;
    height: 65.625%;
}

.text-clock{
    padding-left: 4%;
    font-size: 1.38888889vw;
    white-space: nowrap;
}

.header-calendar{
    width: 31.4341847%;
    height: 109.375%;
    margin-right: 4.91159136%;
    display: flex;
}

.image-calendar{
    width: 13.75%;
    height: 65.625%;
}

.text-calendar{
    padding-left: 4%;
    font-size: 1.38888889vw;
    white-space: nowrap;
}

.header-title {
    font: 5.6vw Roboto Slab;
    width: 99.841017%;
    height: 63.5876841%;
    font-weight: bold;
    line-height: 81px;
    padding-top: 3.65659777%;
    padding-bottom: 4.92845787%;
    white-space: nowrap;
}

.header-information {
    font: 1.38888889vw Roboto;
    font-weight: 400;
    line-height: 30px;  
    width: 65.8187599%;
    height: 21.7496653%;
    white-space: nowrap;
}

.header-producer {
    margin: 9% 17.0833333% 0px 9.7222222%;
    width: 21.1111111%;
}

.header-ticket{
    background-color: #1E4681;
    width: 35%;
    height: 3.14609776%;
    margin: 4.93055556% 37.5409722% 0px 27.9861111%;
    transform: rotate(-4deg);
    border-radius: 5px;
}

.ticket-text-main{
    font: 1.73611111vw Roboto Slab;
    color: #FFFFFF;
    transform: rotate(0deg);
    padding-left: 5.85858586%;
    padding-top: 4.4%;
    padding-right: 6%;
    line-height: 32.5px;
    white-space: nowrap;
    font-weight: 400;
}

.ticket-author{
    font: 1.38888889vw Roboto;
    color: #FFFFFF;
    transform: rotate(0deg);
    padding-left: 55%;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 5%;
    width: 40%;
}

.header-container {
    margin-left: 8.40277778%;
    margin-top: 10.8333333%;
    margin-right: 8.81944444%;
}

.header-course-information{
    margin-right: 13.1944444%;
    height: 76%;
}

.header-course-about{
    font: 3.81944444vw Roboto Slab;
    font-weight: 700;
    line-height: 55.76px;
    width: 56.6902229%;
    height: 14.5688102%;
    margin-bottom: 7%;
    white-space: nowrap;
}

.header-course-text1{
    font: 1.66666667vw Roboto;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 8%;
    white-space: pre-wrap;
    width: 85%;
}

.header-course-text2{
    font: 1.66666667vw Roboto;
    font-weight: 400;
    line-height: 36px;
    white-space: pre-wrap;
    width: 84%;
}

.header-operator {
    width: 21.8055556%;
    height: 49.3459701%;
    margin-top: 13%;
    margin-right: 10.625%;
}

.header-light-man {
    width: 16.1111111%;
    height: 14.0972222%;
    margin-right: 9.16666667%;
    margin-top: 6.52777778%;
}

.header-lessons{
    margin-top: 11.3888889%;
    width: 10.4166667%;
    height: 5.48611111%;
    margin-right: 6.59722222%;
}

.header-lessons-title{
    font: 1.7361111vw Roboto;
    font-weight: 700;
    width: 100%;
    line-height: 32.5px;
    white-space: nowrap;
    padding-bottom: 5.33333333%;
}

.header-lessons-text{
    font: 1.25vw Roboto;
    width: 100%;
    line-height: 23.4px;
    white-space: pre-wrap;
    font-weight: 500;
}

.header-time{
    margin-top: 11.3888889%;
    width: 10.4166667%;
    height: 5.48611111%;
    margin-right: 6.59722222%;
}

.header-time-title{
    font: 1.7361111vw Roboto;
    font-weight: 700;
    width: 100%;
    line-height: 32.5px;
    white-space: nowrap;
    padding-bottom: 5.33333333%;
}

.header-time-text{
    font: 1.25vw Roboto;
    width: 100%;
    line-height: 23.4px;
    white-space: pre-wrap;
    font-weight: 500;
}

.header-weeks{
    margin-top: 11.3888889%;
    width: 10.4166667%;
    height: 5.48611111%;
    margin-right: 22.0138889%;
}

.header-weeks-title{
    font: 1.7361111vw Roboto;
    font-weight: 700;
    width: 100%;
    line-height: 32.5px;
    white-space: nowrap;
    padding-bottom: 5.33333333%;
}

.header-weeks-text{    
    font: 1.25vw Roboto;
    width: 100%;
    line-height: 23.4px;
    white-space: pre-wrap;
    font-weight: 500;
}

.header-title-about-format{
    font: 3.81944444vw Roboto Slab;
    margin-top: 12.3611111%;
    margin-left: 8.40277778%;
    margin-bottom: 7.013888889%;
    margin-right: 58.1944444%;
    width: 33.4027778%;
    height: 5.625%;
    line-height: 55.76px;
    font-weight: 700;
    white-space: nowrap;
}

.header-vebinar, .head-communication{
    margin-right: 7.91666667%;
    width: 16.0416667%;
}

.head-access{
    width: 18.8194444%;
    margin-right: 7.91666667%;
}

.head-vebinar-title, .head-communication-title{ 
    font: 1.73611111vw Roboto;
    font-weight: 700;
    line-height: 32.5px;
    color: #1E4681;
    width: 64.9350649%;
    white-space: nowrap;
    padding-bottom: 3.04347826%;
}

.head-vebinar-text, .head-communication-text{
    font: 1.25vw Roboto;
    font-weight: 500;
    line-height: 23.4px;
    width: 100%;
    white-space: nowrap;
}

.head-access-title{
    font: 1.73611111vw Roboto;
    width: 78.9667897%;
    font-weight: 700;
    line-height: 32.5px;
    color: #1E4681;
    white-space: nowrap;
    padding-bottom: 3.04347826%;
}

.head-access-text{
    font: 1.25vw Roboto;
    width: 100%;
    line-height: 23.4px;
    font-weight: 500;
    white-space: nowrap;
}

.header-end{
    display: flex;
    margin-bottom: 15.5555556%;
}

.header-end-info{
    margin-top: 12.4305556%;
    width: 53.152778%;
    margin-left: 8.402777778%;
    height: 33.8888889%;
    margin-right: 3.40277778%;
}

.header-end-title{
    font: 4.375vw Roboto Slab;
    font-weight: 700;
    line-height: 55.76px;
    width: 55%;
    white-space: nowrap;
    padding-bottom: 8.10014728%;
}

.header-end-tablic{
    font: 1.875vw Roboto;
    font-weight: 400;
    line-height: 41px;
    width: 101.6435935%;
    padding-left: 1.47275405%;
}

.header-end-img{
    display: flex;
    flex-direction: column;
    margin-top: 7.9166667%;
    width: 26.8055556%;
}

.header-end-shpagi{
    width: 63.9180328%;
    padding-bottom: 72.0163934%;
}

.header-end-dino{
    width: 100.2786885%;
}

.main-menu{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.main-section-title{
    display: flex;
    width: 91.5972222%;
    height: 4.44444444%;
    margin-left: 8.40277778%;
    margin-bottom: 8.61111111%;
}

.main-title{
    font: 3.81944444vw Roboto Slab;
    font-weight: 700;
    width: 38.6656558%;
    height: 4.85216073%;
    line-height: 55.76px;
    white-space: nowrap;
    margin-right: 13.570887%;
    padding-bottom: 0.7%;
}

.main-div-in-section{
    background-color: black;
    font-weight: 900;
    max-height: 14px;
    width: 47.7634572%;
    margin-right: 0px;
    margin-top: 2%;
}

.main-section-img-1{
    margin-left: 5.83333333%;
    margin-right: 5.90277778%;
    margin-bottom: 2.84722222%;
    width: 88.2638889%;
    display: flex;
    height: 22.7777778%;
}

.main-section-img-2{
    margin-left: 5.83333333%;
    margin-right: 5.90277778%;
    margin-bottom: 2.84722222%;
    width: 88.2638889%;
    display: flex;
    height: 22.7777778%;
}

.main-section-img-3{
    margin-left: 5.83333333%;
    width: 85.9861111%;
    display: flex;
    height: 22.7777778%;
}

.main-div-img{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-right: 2.91109363%;
    width: 31.3926042%;
    height: 25.8064516%;
}

.main-div-pic{
    width: 100%;
}

.main-p-title{
    font: 2.08333333vw Roboto;
    font-weight: 700;
    width: 76.553044%;
    height: 10.0863808%;
    box-sizing: content-box;
    line-height: 39px;
    padding: 2.84487664% 0px 8.27600476% 5.17250297%;
    white-space: nowrap;
    margin-right: 21.4658873%;
}

.main-p-text{
    font: 1.73611111vw Roboto;
    width: 54.8285315%;
    height: 16.2933844%;
    line-height: 32.5px;
    padding: 0px 0px 5.94837842% 4.91387783%;
    white-space: nowrap;
    margin-right: 43.449025%;
}

.fix{
    font: 2.08333333vw Roboto;
    font-weight: 700;
    width: 94.3981793%;
    height: 18.3623856%;
    line-height: 29.1px;
    padding: 4.13800238% 0px 2.55175089% 5.68975327%;
    margin-right: 3.62075208%;
}

.main-img-computer{
    margin-left: 74.375%;
    margin-right: 8.05555556%;
    margin-bottom: 3.47222222%;
    width: 17.5694444%;       
    max-height: 13.8194444%;
    box-sizing: content-box;
}

.main-author-title{
    font-weight: 700;
    font: 3.81944444vw Roboto Slab;
    width: 28.8194444%;
    margin-right: 27.9166667%;
    margin-left: 8.47222222%;
    white-space: nowrap;
    padding-top: 10.5%; 
}

.main-blog-section{
    display: flex;
}

.main-section-avatar-1{
    display: flex;
    width: 40.3472222%;
    margin-left: 10.8333333%;
    margin-top: 3.68055556%;
}

.main-avatar-1{
    width: 38.2591093%;
    height: 34.0323887%;    
}

.main-p-avatar-header-1{
    width: 76.4705882%;
    height: 7.4607843%;
    font: 2.08333333vw Roboto Slab;
    font-weight: 700;
    line-height: 30.42px;
    margin-left: 4.90196078%;
    margin-top: 12.254902%;
    margin-right: 18.627451%;
    margin-bottom: 1.47058824%;
    white-space: nowrap;
}

.main-p-avatar-header-2{
    width: 76.4705882%;
    height: 7.4607843%;
    font: 2.08333333vw Roboto Slab;
    font-weight: 700;
    line-height: 30.42px;
    margin-left: 4.90196078%;
    margin-top: 16.254902%;
    margin-bottom: 1.47058824%;
    margin-right: 18.627451%;
    white-space: nowrap;
}

.main-p-avatar-text{
    font: 1.25vw Roboto;
    width: 54.6568627%;
    height: 7.59803922%;
    line-height: 23.4px;
    margin-left: 20px;
    margin-right: 11vw;
    margin-bottom: 39px;
    white-space: nowrap;
}

.main-icon-action-one{
    position: relative;    
    margin-top: 10.480392%;
    margin-bottom: 85px;
    margin-left: -4.958333vw;
}

.main-icon-avatar-1{
    max-width: 1.944444444vw;
    max-height: 1.944444444vw;
    margin-top: -0.4vw;
}

.main-avatar-2{
    width: 24.813688%;
    height: 36.03929%;
    margin-top: 46px;
    margin-left: 56px;
    margin-bottom: 244px;
}

.main-comp-text-2{
    display: none;
    height: 21vw;
    width: 26.3888889vw;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    right: -1.041666667vw;
    top: 90px;
}

.main-p-in-comp-text-1{
    font: 1.25vw Roboto;
    font-weight: 400;
    line-height: 23.4px;
    padding: 5.76942356% 5.26315789% 4.26065163% 6.26566416%;
    margin-bottom: 1.06944444vw;
}

.main-p-in-comp-text-2{
    font: 1.25vw Roboto;
    font-weight: 400;
    line-height: 23.4px;
    padding: 0px 5.26315789% 4.26065163% 6.26566416%;
}

.main-p-in-comp-text-3{
    font: 1.25vw Roboto;
    font-weight: 400;
    line-height: 1.625vw;
    padding: 5.76942356% 5.26315789% 4.26065163% 6.26566416%;
    margin-bottom: 0.26065%;
    margin-top: 2.260652%;
}

.main-p-in-comp-text-4{
    font: 1.25vw Roboto;
    font-weight: 400;
    line-height: 1.625vw;
    padding: 2.76942356% 5.26315789% 0px 6.26566416%;
    margin-top: 0.26065%;
}

.main-section-avatar-2{
    display: flex;
    margin-top: 120px;
}

.main-icon-action-two{
    position: relative;
    margin-top: 2.22222222vw;
    margin-left: 2.56944444vw;
    max-height: 28px;
    max-width: 28px;
}

.main-icon-avatar-2{
    max-width: 1.944444444vw;
    max-height: 1.944444444vw;
    margin-top: 4.1vw;
    margin-left: -17.861111vw;
}

.main-comp-text-1{
    display: none;
    background-color: #FFFFFF;
    box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 27.166667vw;
    min-width: 29.305556vw;
    position: absolute;
    bottom: 5px;
    right: 132px;
}

.main-icon-action-one:hover .main-comp-text-2{
    display: block;
}

.main-icon-action-two:hover .main-comp-text-1{
    display: block;
}

.footer-container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (min-width: 834px) and (max-width: 1279px) {

    .header-container-main {
        max-width: 1279px; 
        width: 100%;
        font-family: Roboto;
        margin: 0 auto;
    }

    .header-logo {
        width: 7.77817746%;
        height: 9.9557292%;
        margin-top: 2.51798561%;
        margin-right: 83.8189448%;
        margin-bottom: 0px;
        margin-left: 8.4028777%;
    }

    .header-container{
        max-width: 1279px;
        width: 100%;
        display: flex;
        margin: 0;
    }

    .header-propirties {
        width: 43.6810552%;
        height: 21.2434053%;
        margin-left: 0px;
        margin-bottom: 11.1870504%;
        margin-right: 12.721823%;
        margin-top: 0px;
    }

    .header-image-information{
        width: 90.6630582%;
        height: 6.41222783%;
    }

    .header-globus{
        width: 35.434871%;
        height: 6.87584803%;
        margin-right: 4.91180461%;
    }
    
    .image-globus{
        width: 15.2046784%;
        height: 14.5124717%;
    }

    .text-globus{
        width: 89.8555914%;
        padding-left: 5.52571906%;
        font-size: 1.43884892vw;
    }

    .header-clock{
        width: 31.8249661%;
        height: 7.07259159%;
        margin-right: 4.91180461%;
    }
    
    .image-clock{
        width: 15.0787075%;
        height: 15.0787075%;
    }
    
    .text-clock{
        width: 67.4636052%;
        padding-left: 7.13693928%;
        font-size: 1.43884892vw;
    }

    .header-calendar{
        width: 35.17232%;
        height: 5.76662144%;
        margin-right: 4.91180461%;
    }
    
    .image-calendar{
        width: 13.9001506%;
        height: 15.0584965%;
    }
    
    .text-calendar{
        width: 76.4508282%;
        padding-left: 9.26676706%;
        font-size: 1.43884892vw;
    }

    .header-title {
        font: 5.51558753vw Roboto Slab;
        font-weight: 700;
        line-height: 46.64px;
        font-style: normal;
        padding-top: 2.15278632%;
        padding-bottom: 6.15081806%;
    }

    .header-information {
        font: 1.43884892vw Roboto;
        line-height: 18px;
        width: 81.1907984%;
        height: 11.0714725%;
    }

    .header-producer {
        margin-top: 4.195313%;
        margin-right: 17.0839329%;
        margin-left: 0px;
        margin-bottom: 0px;
        width: 21.1103118%;
    }

    .header-ticket{
        width: 34.4724221%;
        height: 16.1978417%;
        margin-right: 37.5407674%;
        margin-bottom: 0px;
        margin-left: 27.9856115%;
    }
    
    .ticket-text-main{
        font: 1.67865707vw Roboto Slab;
        padding-left: 5.70497148%;
        padding-top: 4.12931269%;
        padding-right: 5.89853301%;
        line-height: 18.2px;
    }

    .ticket-author{
        font: 1.43884892vw Roboto;
        padding-left: 53.761478%;
        padding-top: 3%;
        padding-bottom: 5%;
        padding-right: 4.21081228%;
        width: 41.119449%;
    }

    .header-container {
        margin-left: 8.40277778%;
        margin-top: 10.8333333%;
        margin-right: 8.81944444%;
    }

    .header-course-information{
        margin-right: 13.0131894%;
        height: 76%;
        width: 46.1630695%;
    }

    .header-course-about{
        font: 3.83693046vw Roboto Slab;
        font-weight: 700;
        line-height: 32.44px;
        width: 33.5064935%;
        height: 9.35064935%;
        margin-bottom: 8.57142857%;
    }

    .header-course-text1{
        font: 1.67865707vw Roboto;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 8%;
        width: 100%;
    }

    .header-course-text2{
        font: 1.67865707vw Roboto;
        font-weight: 400;
        line-height: 21px;
        white-space: pre-wrap;
        width: 100%;
    }

    .header-operator {
        width: 21.8057554%;
        height: 21.8752998%;
    }

    .header-light-man {
        width: 16.1115108%;
        height: 14.0971223%;
        margin-right: 9.16666667%;
        margin-top: 0px;
    }

    .header-lessons{
        margin-top: 4.752998%;
        width: 10.4172662%;
        height: 5.48561151%;
        margin-right: 6.5971223%;
    }
    
    .header-lessons-title{
        font: 1.79856115vw Roboto;
        font-weight: 700;
        line-height: 19.5px;
        padding-bottom: 6.00828729%;
    }
    
    .header-lessons-text{
        font: 1.31894484vw Roboto;
        line-height: 14.3px;
        font-weight: 500;
    }

    .header-time{
        margin-top: 4.752998%;
        width: 10.4172662%;
        height: 5.48561151%;
        margin-right: 5.597122%;
    }
    
    .header-time-title{
        font: 1.79856115vw Roboto;
        font-weight: 700;
        line-height: 19.5px;
        padding-bottom: 6.00828729%;
    }
    
    .header-time-text{
        font: 1.31894484vw Roboto;
        line-height: 14.3px;
        font-weight: 500;
        width: 105%;
    }

    .header-weeks{
        margin-top: 4.752998%;
        width: 10.4172662%;
        height: 5.48561151%;
    }
    
    .header-weeks-title{
        font: 1.79856115vw Roboto;
        font-weight: 700;
        line-height: 19.5px;
        padding-bottom: 6.00828729%;;
    }
    
    .header-weeks-text{    
        font: 1.31894484vw Roboto;
        line-height: 14.3px;
        font-weight: 500;
    }

    .header-title-about-format{
        font: 3.83693046vw Roboto Slab;
        margin-top: 11.2290168%;
        margin-left: 8.39328537%;
        margin-bottom: 7.98321343%;
        margin-right: 57.3141487%;
        width: 34.2925659%;
        height: 4.67625899%;
        line-height: 32.44px;
        font-weight: 700;
    }

    .header-vebinar, .head-communication{
        margin-right: 5.63549161%;
        width: 18.26611871%;
    }
    
    .head-access{
        width: 20.6235012%;
        margin-right: 5.63549161%;
    }

    .head-vebinar-title, .head-communication-title{ 
        font: 1.79856115vw Roboto;
        font-weight: 700;
        line-height: 19.5px;
        width: 57.0303269%;
        padding-bottom: 3.28213207%;
    }

    .head-vebinar-text, .head-communication-text{
        font: 1.31894484vw Roboto;
        font-weight: 500;
        line-height: 14.3px;
    }

    .head-access-title{
        font: 1.79856115vw Roboto;
        width: 82.0533018%;
        font-weight: 700;
        line-height: 19.5px;
        padding-bottom: 3.28213207%;
    }
    
    .head-access-text{
        font: 1.31894484vw Roboto;
        width: 100%;
        line-height: 14.3px;
        font-weight: 500;
    }

    .header-end{
        margin-bottom: 15.32494%;
    }

    .header-end-info{
        margin-top: 12.4160671%;
        width: 46.3189448%;
        margin-left: 8.39328537%;
        height: 35.6654676%;
        margin-right: 4.3057554%;
    }

    .header-end-title{
        font: 3.83693046vw Roboto Slab;
        font-weight: 700;
        line-height: 32.44px;
        width: 51.2555009%;
        padding-bottom: 6.98938649%;
    }

    .header-end-tablic{
        font: 1.67865707vw Roboto;
        font-weight: 400;
        line-height: 21px;
        width: 97.3336785%;
        padding-left: 4.472754%;
    }

    .header-end-img{
        margin-top: 8.917266%;
        width: 26.8057554%;
    }

    .header-end-shpagi{
        width: 70.9863565%;
        padding-bottom: 45.8555133%;
    }
    
    .header-end-dino{
        width: 100.004473%;
    }

    .main-menu{
        max-width: 1279px;
        width: 100%;
        margin: 0 auto;
    }
    
    .main-section-title{
        width: 91.6067146%;
        height: 4.55635492%;
        margin-left: 8.40277778%;
        margin-bottom: 8.47721823%;
    }

    .main-title{
        font: 3.83693046vw Roboto Slab;
        font-weight: 700;
        width: 38.8743455%;
        height: 4.97382199%;
        line-height: 32.44px;
        margin-right: 13.367801%;
    }

    .main-div-in-section{
        font-weight: 900;
        max-height: 14px;
        width: 47.7591623%;
        margin-right: 0px;
        margin-top: 2%;
    }

    .main-section-img-1{
        margin-left: 5.83333333%;
        margin-right: 5.9028777%;
        margin-bottom: 2.84772182%;
        width: 88.263789%;
        height: 22.7781775%;
    }

    .main-section-img-2{
        margin-left: 5.83333333%;
        margin-right: 5.9028777%;
        margin-bottom: 2.84772182%;
        width: 88.263789%;
        height: 22.7781775%;
    }

    .main-section-img-3{
        margin-left: 5.83333333%;
        width: 88.985611%;
        height: 22.7781775%;
    }

    .main-div-img{
        margin-right: 2.80497382%;
        width: 30.2473822%;
        height: 24.8651832%;
    }

    .main-p-title{
        font: 2.0383693vw Roboto;
        font-weight: 700;
        width: 77.2512913%;
        height: 9.8809791%;
        line-height: 22.1px;
        padding-top: 2.98225915%;
        padding-bottom: 8.46620256%;
        padding-left: 5.09768695%;
        margin-right: 21.4417247%;
    }

    .main-p-text{
        font: 1.67865707vw Roboto;
        width: 54.3453851%;
        height: 16.1688749%;
        line-height: 18.2px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 7.13519%;
        padding-left: 7.097687%;
        margin-right: 44.3476308%;
    }

    .fix{
        font: 2.0383693vw Roboto;
        font-weight: 700;
        width: 94.9472266%;
        height: 18.4684482%;
        line-height: 22.49px;
        padding-top: 4.16348529%;
        padding-bottom: 2.06602291%;
        padding-left: 7.313272%;
        padding-right: 0px;
        margin-right: 3.62075208%;
    }

    .main-img-computer{
        margin-left: 71.447242%;
        margin-right: 8.05515588%;
        margin-bottom: 11.006962%;
        width: 17.5695444%;       
        max-height: 13.8189448%;
    }

    .main-author-title{
        font: 3.83693046vw Roboto Slab;
        font-weight: 700;
        width: 28.177458%;
        margin-right: 28.5179856%;
        margin-left: 8.51318945%;
        padding-top: 5.5%; 
    }

    .main-blog-section{
        display: flex;
    }

    .main-section-avatar-1{
        width: 40.3477218%;
        margin-left: 12.833333%;
        margin-top: 5.10311751%;
    }

    .main-avatar-1{
        width: 13.1247002vw;
        height: 12.3609113vw;    
    }

    .main-p-avatar-header-1{
        width: 18.9448441vw;
        height: 2.63788969vw;
        font: 2.0383693vw Roboto Slab;
        font-weight: 700;
        line-height: 2.06714628vw;
        margin-left: 3.44880725%;
        margin-top: 17.190717%;
        margin-right: 20.375393%;
        margin-bottom: 1.10337176%;
    }

    .main-p-avatar-header-2{
        width: 18.9448441vw;
        height: 4.94791667vw;
        font: 2.08333333vw Roboto Slab;
        font-weight: 700;
        line-height: 2.06714628vw;
        margin-left: 4.90196078%;
        margin-top: 17.254902%;
        margin-bottom: -6.529412%;
        margin-right: 18.627451%;
    }

    .main-p-avatar-text{
        font: 1.19904077vw Roboto;
        width: 14.6282974vw;
        height: 2.15827338vw;
        line-height: 1.558753vw;
        margin-left: 5.448807%;
        margin-right: 33.3199778%;
        margin-bottom: 6.81748135%;
    }

    .main-icon-action-one{ 
        margin-top: 3.4vw;
        margin-left: 1.038369vw;
        width: 252px;
    }

    .main-icon-action-two{ 
        margin-top: 2.597122vw;
    }

    .main-icon-avatar-1{
        max-width: 1.94484412vw;
        max-height: 1.94484412vw;
        margin-top: 0;
    }

    .main-comp-text-2{
        width: 28.708633vw;
        height: 20.027578vw;
        right: 0px;
        top: 5.673861vw;
    }

    .main-p-in-comp-text-1{
        font: 1.19904077vw Roboto;
        font-weight: 400;
        line-height: 1.558753vw;
        padding-top: 7.12047285%;
        padding-right: 4.82367408%;
        padding-bottom: 9%;
        padding-left: 6.23895902%;
    }
    
    .main-p-in-comp-text-2{
        font: 1.19904077vw Roboto;
        font-weight: 400;
        line-height: 1.558753vw;
        padding-top: 0px;
        padding-right: 4.82367408%;
        padding-bottom: 1%;
        padding-left: 6.23895902%;
    }

    .main-avatar-2{
        width: 12.5vw;
        height: 11.5275779vw;
        margin-top: 0.71942446vw;
        margin-left: 0px;
        margin-bottom: 244px;
    }

    .main-section-avatar-2{
        margin-top: 10.5515588vw;
        margin-left: 2vh;
    }

    .main-icon-avatar-2{
        max-width: 1.94484412vw;
        max-height: 1.94484412vw;
        margin-top: 1vw;
        margin-left: -0.441247vw;
    }

    .main-comp-text-1{
        height: 26.318945vw;
        width: 27.708633vw;
        min-width: 0;
        position: absolute;
        bottom: 5.959233vw;
        right: -4vw;
    }

    .main-p-in-comp-text-3{
        font: 1.19904077vw Roboto;
        font-weight: 400;
        line-height: 1.558752vw;
        padding-top: 8.971429%;
        padding-right: 3.47428571%;
        padding-bottom: 8%;
        padding-left: 6.137143%;
        margin-top: 0;
    }
    
    .main-p-in-comp-text-4{
        font: 1.19904077vw Roboto;
        font-weight: 400;
        line-height: 1.558752vw;
        padding-top: 0px;
        padding-right: 3.47428571%;
        padding-bottom: 1%;
        padding-left: 6.137143%;
    }

}

@media screen and (min-width: 375px) and (max-width: 834px) {
    
    .header-container-main {
        max-width: 833px; 
        width: 100%;
        font-family: Roboto;
        margin: 0 auto;
    }

    .header-logo {
        width: 13.9173333%;
        height: 8.2%;
        margin-top: 9.6%;
        margin-right: 76.7493333%;
        margin-bottom: 0px;
        margin-left: 9.33333333%;
    }

    .header-container{
        max-width: 833px;
        width: 92%;
        display: flex;
        margin: 0;
    }

    .header-propirties {
        width: 78.16%;
        height: 38.1413333%;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }

    .header-image-information{
        width: 94.248%;
        height: 4.06933333%;
    }

    .header-globus{
        width: 70.831743%;
        height: 10.164985%;
        margin-right: 4.94246%;
    }
    
    .image-globus{
        width: 13.8102937%;
        height: 13.1905147%;
    }

    .text-globus{
        width: 81.6222043%;
        padding-left: 5.02559957%;
        font-size: 2.66666667vw;
    }

    .header-clock{
        width: 50.8317426%;
        height: 10.164985%;
        margin-right: 4.94246%;
    }
    
    .image-clock{
        width: 14.810294%;
        height: 13.1905147%;
    }
    
    .text-clock{
        width: 81.6222043%;
        padding-left: 5.02559957%;
        font-size: 2.66666667vw;
    }

    .header-calendar{
        width: 50.8317426%;
        height: 10.164985%;
        margin-right: 4.94246%;
    }
    
    .image-calendar{
        width: 14.810294%;
        height: 13.1905147%;
    }
    
    .text-calendar{
        width: 81.6222043%;
        padding-left: 5.02559957%;
        font-size: 2.66666667vw;
    }

    .header-title {
        font: 9.8666667vw Roboto Slab;
        font-weight: 700;
        line-height: 10.0026667vw;
        padding-top: 2.15278632%;
        padding-bottom: 5.150818%;
        white-space: pre-wrap;
        width: 78.4vw;
    }

    .header-information {
        font: 2.66666667vw Roboto;
        line-height: 4vw;
        width: 89.5220433%;
        height: 12.2060187%;
        white-space: pre-wrap;
    }

    .header-producer {
        margin-top: 35.195313%;
        margin-right: 0;
        margin-left: -30.333333vw;
        margin-bottom: 0px;
        width: 37.7813333%;
        padding: 0;
        height: 46.6933333%;
    }

    .header-ticket{
        width: 61.6826667vw;
        height: 24.984vw;
        margin-right: 28.984vw;
        margin-bottom: 0px;
        margin-left: 9.33333333vw;
        margin-top: 8.24vw;
    }
    
    .ticket-text-main{
        font: 2.93333333vw Roboto Slab;
        line-height: 3.81333333vw;
        width: 57.504vw;
        white-space: pre-wrap;
    }

    .ticket-author{
        font: 3.46666667vw Roboto;
        padding-left: 41.761478%;
        width: 32.629333vw;
        height: 6.75733333vw;
    }

    .header-container {
        margin-left: 8.40277778%;
        margin-top: 10.8333333%;
        margin-right: 8.81944444%;
    }

    .header-course-information{
        margin-right: 9.013189%;
        height: 58.266667vw;
        width: 83.2vw;
    }

    .header-course-about{
        font: 6.93333333vw Roboto Slab;
        font-weight: 700;
        line-height: 7.02933333vw;
        width: 28vw;
        height: 8vw;
        margin-bottom: 8.57142857%;
    }

    .header-course-text1{
        font: 3.2vw Roboto;
        font-weight: 400;
        line-height: 4.8vw;
        margin-bottom: 8%;
        width: 100%;
    }

    .header-course-text2{
        font: 3.2vw Roboto;
        font-weight: 400;
        line-height: 4.8vw;
        white-space: pre-wrap;
        width: 100%;
    }

    .header-operator {
        width: 45.48vw;
        height: 42.744vw;
        margin-left: -72.733333vw;
        margin-top: 86%;
        margin-bottom: -10.4vw;
    }

    .header-light-man {
        width: 28.8293333vw;
        height: 27.2133333vw;
        margin-left: 51.333333vw;
        margin-top: 24.5333333vw;
    }

    .header-lessons{
        width: 23.2vw;
        height: 16.266667vw;
        margin-left: -85.133333vw;
    }
    
    .header-lessons-title{
        font: 3.2vw Roboto;
        font-weight: 700;
        line-height: 4.16vw;
        padding-bottom: 1.06666667vw;
    }
    
    .header-lessons-text{
        font: 2.66666667vw Roboto;
        line-height: 3.46666667vw;
        font-weight: 500;
        width: 23.2vw;
    }

    .header-time{
        width: 23.2vw;
        height: 16.266667vw;
    }
    
    .header-time-title{
        font: 3.2vw Roboto;
        font-weight: 700;
        line-height: 4.16vw;
        padding-bottom: 1.06666667vw;
    }
    
    .header-time-text{
        font: 2.66666667vw Roboto;
        line-height: 3.46666667vw;
        font-weight: 500;
        width: 23.2vw;
    }

    .header-weeks{
        margin-top: 27.4666667vw;
        margin-left: -59.2vw; 
        width: 23.2vw;
        height: 16.266667vw;
    }
    
    .header-weeks-title{
        font: 3.2vw Roboto;
        font-weight: 700;
        line-height: 4.16vw;
        padding-bottom: 1.06666667vw;
    }
    
    .header-weeks-text{    
        font: 2.66666667vw Roboto;
        line-height: 3.46666667vw;
        font-weight: 500;
        width: 23.2vw;
    }

    .header-title-about-format{
        font: 6.93333333vw Roboto Slab;
        margin-top: 11.4533333vw;
        margin-left: 9.6vw;
        margin-bottom: -3.266667vw;
        margin-right: 27.4666667vw;
        width: 62.9333333vw;
        height: 8.26666667vw;
        line-height: 7.02933333vw;
        font-weight: 700;
    }

    .header-vebinar{
        width: 49.266667vw;
        margin-left: 2vw;
    }

    .head-communication{
        width: 36.2666667vw;
        margin-left: -51.733333vw;
        margin-top: 40vw;
    }
    
    .head-access{
        width: 44vw;
        margin-left: -56.733333vw;
        margin-top: 17.733333vw;
    }

    .head-vebinar-title, .head-communication-title{ 
        font: 3.2vw Roboto;
        font-weight: 700;
        line-height: 4.16vw;
        width: 57.0303269%;
        padding-bottom: 0.22133333vw;
    }

    .head-vebinar-text, .head-communication-text{
        font: 2.66666667vw Roboto;
        font-weight: 500;
        line-height: 3.46666667vw;
        white-space: pre-wrap;
        width: 48.2666667vw;
    }

    .head-access-title{
        font: 3.2vw Roboto;
        width: 82.0533018%;
        font-weight: 700;
        line-height: 4.16vw;
        padding-bottom: 0.22133333vw;
    }
    
    .head-access-text{
        font: 2.66666667vw Roboto;
        font-weight: 500;
        line-height: 3.46666667vw;
        white-space: pre-wrap;
    }

    br{
        display: none;
    }

    .header-end{
        margin-bottom: 15.32494%;
    }

    .header-end-info{
        margin-top: 12.4160671%;
        width: 82.9333333vw;
        margin-left: 10.393285%;
        height: 35.6654676%;
        margin-right: 4.3057554%;
    }

    .header-end-title{
        font: 6.93333333vw Roboto Slab;
        font-weight: 700;
        line-height: 7.02933333vw;
        width: 44.2666667vw;
        padding-bottom: 5.6vw;
    }

    .header-end-tablic{
        font: 3.2vw Roboto;
        font-weight: 400;
        line-height: 4.8vw;
        width: 80.8vw;
        padding-left: 4.472754%;
    }

    .header-end-img{
        margin-top: 8.917266%;
        width: 26.8057554%;
    }

    .header-end-shpagi{
        width: 35.2906667vw;
        padding-bottom: 45.8555133%;
        margin-top: -16.8vw;
        margin-left: -37.6vw;
    }
    
    .header-end-dino{
        width: 47.9653333vw;
        margin-top: 72.5333333vw;
        margin-left: -70.466667vw;
    }

    .main-menu{
        max-width: 832px;
        width: 100%;
        margin: 0 auto;
    }
    
    .main-section-title{
        width: 90.9333333vw;
        height: 8.26666667vw;
        margin-left: 9.06666667vw;
        margin-bottom: 12.8vw;
    }

    .main-title{
        font: 6.93333333vw Roboto Slab;
        font-weight: 700;
        width: 65.8666667vw;
        height: 8.26666667vw;
        line-height: 7.02933333vw;
        margin-right: 6.4vw;
    }

    .main-div-in-section{
        font-weight: 900;
        max-height: 1.33333333vw;
        width: 18.6666667vw;
        margin-right: 0vw;
        margin-top: 4%;
    }

    .main-section-img-1{
        margin-left: 25.3333333vw;
        margin-right: 25.088vw;
        margin-bottom: 0.442667vw;
        width: 49.5786667vw;
        flex-flow: column;
    }

    .main-section-img-2{
        margin-left: 25.3333333vw;
        margin-right: 25.088vw;
        margin-bottom: 0.442667vw;
        width: 49.5786667vw;
        flex-flow: column;
    }

    .main-section-img-3{
        margin-left: 25.3333333vw;
        margin-right: 25.088vw;
        width: 49.5786667vw;
        flex-flow: column;
    }

    .main-div-img{
        width: 49.5786667vw;
        height: 40.7573333vw;
        margin-bottom: 6.44266667vw;
    }

    .main-p-title{
        font: 3.73333333vw Roboto;
        font-weight: 700;
        width: 45.3546667vw;
        height: 4.84533333vw;
        line-height: 4.85333333vw;
        padding-top: 1.368vw;
        padding-bottom: 1.976vw;
        padding-left: 3.485333vw;
        margin-right: 1.73866667vw;
    }

    .main-p-text{
        font: 3.2vw Roboto;
        width: 40.533333vw;
        height: 8.26666667vw;
        line-height: 4.16vw;
        padding-top: 0px;
        padding-right: 18.6453333vw;
        padding-bottom: 2.35733333vw;
        padding-left: 3.5vw;
        white-space: pre-wrap;
    }

    .fix{
        font: 3.73333333vw Roboto;
        font-weight: 700;
        width: 45.3546667vw;
        height: 8.82133333vw;
        line-height: 3.62133333vw;
        padding-top: 1.163485%;
        padding-bottom: 0px;
        padding-left: 3.485333vw;
        padding-right: 1.73866667vw;
    }

    .main-img-computer{
        display: none;
    }

    .main-author-title{
        font: 6.93333333vw Roboto Slab;
        font-weight: 700;
        width: 51.7333333vw;
        margin-right: 38.9333333vw;
        margin-left: 9.33333333vw;
        padding-top: 14.776vw; 
    }

    .main-blog-section{
        display: block;
    }

    .section-fix{
        width: 265px;
    }

    .main-section-avatar-1{
        width: 64.7386667vw;
        margin-left: 6.89066667vw;
        margin-right: 28.3706667vw;
        margin-top: 8.20533333vw;
    }

    .main-avatar-1{
        width: 23.4853333vw;
        height: 22.1173333vw;
        margin-top: 2vw;    
    }

    .main-p-avatar-header-1{
        width: 35.248vw;
        height: 4.8vw;
        font: 3.73333333vw Roboto Slab;
        font-weight: 700;
        line-height: 3.784;
        margin-left: 2.424vw;
        margin-top: 3.4vw;
        margin-right: 32vw;
        margin-bottom: 0.8vw;
    }

    .main-p-avatar-header-2{
        width: 36vw;
        height: 4vw;
        font: 3.73333333vw Roboto Slab;
        font-weight: 700;
        line-height: 3.784vw;
        margin-left: 2.432vw;
        margin-top: 18.818667vw;
        margin-bottom: -2.666667vw;
        margin-right: 31.7333333vw;
        white-space: nowrap;
    }

    .main-p-avatar-text{
        font: 2.66666667vw Roboto;
        width: 59.733333vw;
        height: 4vw;
        line-height: 3.46666667vw;
        margin-left: 2.424vw;
        margin-right: 35.4666667vw;
        margin-top: 5.86666667vw;
        white-space: pre-wrap;
    }

    .main-icon-action-one{ 
        margin-top: 8.480392%;
        margin-left: 0;
        width: 252px;
    }

    .main-icon-action-two{
        margin-left: 0;
    }

    .main-icon-avatar-1{
        display: none;
    }

    .main-comp-text-2{
        display: initial;
        width: 32.090667vw;
        height: 17vh;
        right: 14.6vw;
        left: -69.7vw;
        top: 12.8vw;
        background-color: #FFFFFF;
        box-shadow: none;
        border-radius: 0;
        min-width: 0;
        bottom: 0;
    }

    .main-p-in-comp-text-1{
        font: 2.66666667vw Roboto;
        font-weight: 400;
        line-height: 3.46666667vw;
        padding-bottom: 6%;
        white-space: pre-wrap;
        width: 57.0666667vw;
    }
    
    .main-p-in-comp-text-2{
        font: 2.66666667vw Roboto;
        font-weight: 400;
        line-height: 3.46666667vw;
        padding-top: 0px;
        white-space: pre-wrap;
        width: 57.0666667vw;
    }

    .main-avatar-2{
        width: 22.368vw;
        height: 20.6266667vw;
        margin-left: 0px;
        margin-bottom: 83.634667vw;
        margin-top: 15vw;
    }

    .main-section-avatar-2{
        width: 64.7386667vw;
        margin-left: 6.89066667vw;
        margin-right: 28.3706667vw;
        margin-top: 36.485333vw;
    }

    .main-icon-avatar-2{
        display: none;
    }

    .main-comp-text-1{
        display: initial;
    	height: 17vh;
    	width: 32vw;
    	top: 30.8vw;
    	right: 38vw;
        left: -70vw;
    	background-color: #FFFFFF;
    	box-shadow: none;
    	border-radius: 0;
        min-width: 0;
        bottom: 0;
    }

    .main-p-in-comp-text-3{
        font: 2.66666667vw Roboto;
        font-weight: 400;
        line-height: 3.46666667vw;
        padding-bottom: 6%;
        white-space: pre-wrap;
        width: 56.066667vw;
    }
    
    .main-p-in-comp-text-4{
        font: 2.66666667vw Roboto;
        font-weight: 400;
        line-height: 3.46666667vw;
        padding-top: 0px;
        white-space: pre-wrap;
        width: 57.0666667vw;
    }
}