@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.header-container-main {
    max-width: 1440px; 
    width: 100%;
    font-family: Roboto;
    margin: 0 auto;
}

.header-logo {
    width: 7.8%;
    margin: 1.45833333% 0px 0px 8.40277778%; 
}

.header-container{
    max-width: 1440px;
    width: 100%;
    display: flex;
}

.header-propirties {
    width: 43.6805556%;
    /* height: 21.25%; */
    height: 21.25%;
    margin: 6.04166667% 0px 0px 8.40277778%;
}

.header-image-information{
    width: 80.9220986%;
    height: 2.5%;
    display: flex;
}

.header-globus {
    width: 36.4341847%;
    height: 109.375%;
    margin-right: 4.91159136%;
    display: flex;
}

.image-globus{
    width: 13.75%;
    height: 65.625%;
}

.text-globus{
    padding-left: 4%;
    font-size: 1.38888889vw;
    white-space: nowrap;
}

.header-clock{
    width: 31.4341847%;
    height: 109.375%;
    display: flex;
    margin-right: 4.91159136%;
}

.image-clock{
    width: 13.75%;
    height: 65.625%;
}

.text-clock{
    padding-left: 4%;
    font-size: 1.38888889vw;
    white-space: nowrap;
}

.header-calendar{
    width: 31.4341847%;
    height: 109.375%;
    margin-right: 4.91159136%;
    display: flex;
}

.image-calendar{
    width: 13.75%;
    height: 65.625%;
}

.text-calendar{
    padding-left: 4%;
    font-size: 1.38888889vw;
    white-space: nowrap;
}

.header-title {
    font: 5.6vw Roboto Slab;
    width: 99.841017%;
    height: 63.5876841%;
    font-weight: bold;
    line-height: 81px;
    padding-top: 3.65659777%;
    padding-bottom: 4.92845787%;
    white-space: nowrap;
}

.header-information {
    font: 1.38888889vw Roboto;
    font-weight: 400;
    line-height: 30px;  
    width: 65.8187599%;
    height: 21.7496653%;
    white-space: nowrap;
}

.header-producer {
    margin: 9% 17.0833333% 0px 9.7222222%;
    width: 21.1111111%;
}

.header-ticket{
    background-color: #1E4681;
    width: 34.4444444%;
    height: 195px;
    margin: 73px 540px -25px 410px;
    transform: rotate(-4deg);
    border-radius: 5px;
}

.ticket-text-main{
    font: 25px Roboto Slab;
    max-width: 430px;
    max-height: 113px;
    color: #FFFFFF;
    transform: rotate(0deg);
    padding-left: 26px;
    padding-top: 17px;
    line-height: 32px;
    white-space: nowrap;
}

.ticket-author{
    font: 20px Roboto;
    max-width: 280px;
    max-height: 45px;
    color: #FFFFFF;
    transform: rotate(0deg);
    text-align: right;
    padding-left: 180px;
    padding-top: 21px;
}

.header-container {
    margin-left: 6px;
}

.header-course-information{
    margin-left: 121px;
    margin-top: 157px;
    margin-right: 165px;
    margin-bottom: 19px;
}

.header-course-about{
    font: 55px Roboto Slab;
    font-weight: 700;
    line-height: 56px;
    max-width: 365px;
    max-height: 87px;
    margin-bottom: 22px;
    white-space: nowrap;
}

.header-course-text1{
    font: 24px Roboto;
    font-weight: 400;
    line-height: 36px;
    max-width: 662px;
    max-height: 179px;
    line-height: 36px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.header-course-text2{
    font: 24px Roboto;
    font-weight: 400;
    line-height: 36px;
    max-width: 662px;
    max-height: 260px;
    line-height: 35px;
    white-space: nowrap;
}

.header-operator {
    max-width: 360px;
    max-height: 420px;
    margin-top: 300px;
    margin-right: 153px;
}

.header-light-man {
    max-width: 232px;
    max-height: 203px;
    margin-left: 121px;
    margin-right: 132px;
    margin-top: 94px;
}

.header-lessons{
    margin-top: 164px;
}

.header-lessons-title{
    font: 25px Roboto;
    font-weight: 700;
    max-width: 150px;
    max-height: 39px;
    margin-right: 95px;
    line-height: 32,5px;
    white-space: nowrap;
}

.header-lessons-text{
    font: 18px Roboto;
    max-width: 150px;
    max-height: 39px;
    line-height: 23,4px;
    white-space: nowrap;
}

.header-time{
    margin-top: 164px;
}

.header-light-man {
    max-width: 232px;
    max-height: 203px;
    margin-left: 121px;
    margin-right: 132px;
    margin-top: 94px;
}

.header-lessons{
    margin-top: 164px;
}

.header-lessons-title{
    font: 25px Roboto;
    font-weight: 700;
    max-width: 150px;
    max-height: 39px;
    margin-right: 95px;
    line-height: 32,5px;
}

.header-lessons-text{
    font: 18px Roboto;
    max-width: 150px;
    height: 39px;
    line-height: 23,4px;
}

.header-time{
    margin-top: 164px;
}

.header-time-title{
    font: 25px Roboto;
    font-weight: 700;
    max-width: 150px;
    max-height: 39px;
    margin-right: 95px;
    line-height: 32,5px;
    white-space: nowrap;

}

.header-time-text{
    font: 18px Roboto;
    max-width: 150px;
    max-height: 39px;
    line-height: 23,4px;
    white-space: nowrap;
}

.header-weeks{
    margin-top: 164px;
}

.header-weeks-title{
    font: 25px Roboto;
    font-weight: 700;
    max-width: 150px;
    max-height: 39px;
    margin-right: 95px;
    line-height: 32,5px;
}

.header-weeks-text{    
    font: 18px Roboto;
    max-width: 150px;
    max-height: 39px;
    line-height: 23,4px;
}


.header-weeks-title{
    font: 25px Roboto;
    font-weight: 700;
    max-width: 150px;
    max-height: 39px;
    margin-right: 95px;
    line-height: 32,5px;
}

.header-weeks-text{    
    font: 18px Roboto;
    max-width: 150px;
    max-height: 39px;
    line-height: 23,4px;
}

.header-title-about-format{
    font: 55px Roboto Slab;
    margin-top: 178px;
    margin-left: 121px;
    max-width: 667px;
    max-height: 93px;
    line-height: 55,76px;
    font-weight: 700;
    margin-bottom: 100px;
    white-space: nowrap;
}

.header-vebinar, .head-access, .head-communication{
    margin-left: 121px;
}

.head-vebinar-title, .head-communication-title{ 
    font-family: Roboto;
    font-weight: 700;
    font-size: 25px;
    line-height: 32,5px;
    color: #1E4681;
    max-width: 150px;
    max-height: 39px;
    white-space: nowrap;
}

.head-vebinar-text, .head-communication-text{
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 23,4px;
    max-width: 240px;
    max-height: 39px;
    margin-right: -13px;
    white-space: nowrap;
}

.head-access-title{
    font: 25px Roboto;
    max-width: 214px;
    max-height: 39px;
    font-weight: 700;
    line-height: 32,5px;
    color: #1E4681;
}

.head-access-text{
    font: 18px Roboto;
    max-width: 271px;
    max-height: 109px;
    line-height: 23,4px;
    margin-right: -11px;
}

.header-end{
    display: flex;
}

.header-end-info{
    margin-top: 182px;
    /* min-width: 500px; */
}

.header-end-title{
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 63px;
    line-height: 55,76px;
    max-width: 667px;
    max-height: 93px;
    margin-left: 121px;
    white-space: nowrap;
}

.header-end-tablic{
    font-family: Roboto;
    font-weight: 400;
    font-size: 27px;
    line-height: 41px;
    min-width: 720px;
    padding-top: 23px;
    margin-left: 105px;
}

.header-end-img{
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}

.header-end-shpagi{
    margin-left: 100px;
    min-width: 320px;
    max-height: 215px;
}

.header-end-dino{
    margin-top: 180px;
    min-width: 610px;
    max-height: 220px;
}

.main-menu{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.main-section-title{
    display: flex;
    margin-top: 248px;
    /* justify-content: space-between; */
    width: 100%;
}

.main-title{
    font-size: 55px;
    font-weight: 700;
    margin-left: 121px;
    width: 37.5%;
    max-height: 93px;
    font-family: Roboto Slab;
    line-height: 55,76px;
    white-space: nowrap;
    font-family: Roboto Slab;
    line-height: 55,76px;
    margin-right: 165px;
}

.main-div-in-section{
    background-color: black;
    font-weight: 900;
    max-height: 14px;
    width: 45%;
    margin-top: 49px;
    margin-right: 0px;
}

.main-section-img{
    margin-left: 84px;
    margin-top: 144px; 
    max-width: 1440px;
    width: 100%;
    display: flex;
    max-height: 328px;
}

.main-section-img-1{
    margin-left: 84px;
    margin-top: 144px; 
    max-width: 1440px;
    width: 100%;
    display: flex;
    max-height: 328px;
}

.main-div-img{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-right: 37px;
    min-width: 27.71%;
}

.main-div-pic{
    width: 100%;
}

.main-p-title{
    font-size: 30px;
    font-weight: 700;
    width: 83%;
    box-sizing: padding-box;
    max-height: 39px;
    font-family: Roboto;
    line-height: 39px;
    padding: 11px 14px 32px 20px;
    white-space: nowrap;
}

.main-p-text{
    width: 83%;
    max-height: 63px;
    font-family: Roboto;
    font-size: 25px;
    line-height: 32,5px;
    padding: 0px 15px 23px 19px;
    white-space: nowrap;
}

.fix{
    font-size: 30px;
    font-weight: 700;
    width: 83%;
    max-height: 71px;
    font-family: Roboto;
    line-height: 29,1px;
    padding: 5px 14px 8px 20px;
}

.main-img-computer{
    padding-left: 74.375%;       
    padding-right: 116px;
    width: 17.6%;       
    max-height: 199px;
    box-sizing: padding-box;
}

.main-author-title{
    font-weight: 700;
    font-size: 55px;
    width: 29%;
    margin-top: 24px;
    margin-right: 413px;
    margin-left: 122px;
    font-family: Roboto Slab;
    white-space: nowrap;
    padding-top: 200px;
}

.main-blog-section{
    display: flex;
}

.main-section-avatar-1{
    display: flex;
}

.main-avatar-1{
    width: 13.125%;
    max-height: 178px;
    margin-top: 46px;
    margin-left: 156px;
    margin-bottom: 244px;
}

.main-p-avatar-header{
    width: 21.6%;
    max-height: 59px;
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 30px;
    line-height: 30,42px;
    margin-left: 20px;
    margin-top: 96px;
    margin-right: 76px;
    white-space: nowrap;
}

.main-p-avatar-text{
    font-size: 18px;
    width: 15.5%;
    max-height: 31px;
    font-family: Roboto;
    line-height: 23,4px;
    margin-left: 20px;
    margin-right: 165px;
    margin-bottom: 39px;
    white-space: nowrap;
}

.main-icon-action-one{
    position: relative;    
    margin-top: 106px;
    margin-bottom: 85px;
    margin-left: -100px;
}

.main-icon-avatar-1{
    max-width: 28px;
    max-height: 28px;
}

.main-avatar-1{
    min-width: 189px;
    max-height: 178px;
    margin-top: 46px;
    margin-left: 156px;
    margin-bottom: 244px;
}

.main-avatar-2{
    min-width: 189px;
    max-height: 178px;
    margin-top: 46px;
    margin-left: 56px;
    margin-bottom: 244px;
}

.main-p-avatar-header{
    min-width: 312px;
    max-height: 59px;
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 30px;
    line-height: 30,42px;
    margin-left: 20px;
    margin-top: 96px;
    margin-right: 76px;
}

.main-p-avatar-text{
    font-size: 18px;
    min-width: 223px;
    max-height: 31px;
    font-family: Roboto;
    line-height: 23,4px;
    margin-left: 20px;
    margin-right: 165px;
    margin-bottom: 39px;
}

.main-icon-action-one{
    position: relative;    
    margin-top: 106px;
    margin-bottom: 85px;
    margin-left: -100px;
}

.main-icon-avatar-1{
    max-width: 28px;
    max-height: 28px;
}

.main-comp-text-2{
    display: none;
    max-height: 250px;
    min-width: 350px;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 30px;
    right: -50px;
    top: 90px;
}

.main-p-in-comp-text{
    font-size: 19px;
    min-block-size: 19px;
    font-family: Roboto;
    line-height: 23,4px;
    padding-bottom: 40px;
}

.main-section-avatar-2{
    display: flex;
    /* margin-left: 160px; */
    margin-top: 120px;
}

.main-icon-action-two{
    position: relative;
    margin-top: 35px;
    margin-left: 10px;
    max-height: 28px;
    max-width: 28px;
}

.main-icon-avatar-2{
    max-width: 28px;
    max-height: 28px;
    max-width: 28px;
    max-height: 28px;
    margin-top: 68px;
    margin-left: -220px;
}

.main-comp-text-1{
    display: none;
    background-color: #FFFFFF;
    box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    max-height: 365px;
    min-width: 350px;
    position: absolute;
    bottom: 5px;
    right: 150px;
    padding: 24px 21px 24px 25px; 
    padding: 24px 21px 24px 25px;
}

.main-icon-action-one:hover .main-comp-text-2{
    display: block;
}

.main-icon-action-two:hover .main-comp-text-1{
    display: block;
}

.footer-container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (min-width: 834px) and (max-width: 1279px) {

    .header-container-main {
        max-width: 834px; 
        width: 100%;
        font-family: Roboto;
        margin: 0 auto;
    }

    .header-logo {
        min-width: 64.87px;
        margin: 22px 0px 0px 70.8px; 
    }

    .header-propirties {
        margin: 56.18px 0px 0px 70.8px;
    }
    
    .image-globus{
        min-width: 12.74px;
        max-height: 12.16px;
    }

    .text-globus{
        font-size: 12px;
    }

    .image-clock{
        min-width: 12.74px;
        max-height: 12.16px;
    }
    
    .text-clock{
        font-size: 12px;
    }

    .image-calendar{
        min-width: 12.74px;
        max-height: 12.16px;
    }
    
    .text-calendar{
        font-size: 12px;
    }

    .header-title {
        font: 46px Roboto Slab;
        font-weight: bold;
        line-height: 46.64px;
        font-style: normal;
        padding-top: 7px;
        padding-bottom: 15px;
    }

    .header-information {
        font: 12px Roboto;
        line-height: 18px;
        min-width: 264px;
        max-height: 36px;
    }

    .header-producer {
        margin: 90px 142.48px 0px 88.46px;
        min-width: 176px;
        max-height: 206px;
    }

    .header-ticket{
        background-color: #1E4681;
        min-width: 287.5px;
        max-height: 135.09px;
        margin: 41px 313px -25px 233px;
    }
    
    .ticket-text-main{
        font: 14px Roboto Slab;
        min-width: 250px;
        max-height: 65.45px;
        line-height: 18.2px;
    }

    .ticket-author{
        font: 12px Roboto;
        min-width: 150px;
        max-height: 26.43px;
        line-height: 15.6px;
        margin-right: 12.4px;
        padding-left: 111px;
        padding-bottom: 11px;
    }

    .header-course-information{
        margin-left: 70.8px;
        margin-top: 90.78px;
    }

    .header-course-about{
        font: 32px Roboto Slab;
        font-weight: 700;
        line-height: 32.44px;
        min-width: 211px;
        max-height: 54px;
        margin-bottom: 26px;
    }

    .header-course-text1{
        font: 14px Roboto;
        font-weight: 400;
        line-height: 21px;
        min-width: 383px;
        max-height: 179px;
        line-height: 21px;
        margin-bottom: 5px;
    }

    .header-course-text2{
        font: 14px Roboto;
        font-weight: 400;
        line-height: 36px;
        min-width: 383px;
        max-height: 179px;
        line-height: 21px;
        margin-bottom: 5px;
    }

    .header-operator {
        min-width: 182px;
        max-height: 182px;
        margin-top: 190px;
    }

    .header-light-man {
        min-width: 135px;
        max-height: 118px;
        margin-left: 70.8px;
        margin-right: 76.45px;
        margin-top: 54.44px;
    }

    .header-lessons{
        margin-top: 95px;
    }

    .header-lessons-title{
        font: 15px Roboto;
        font-weight: 700;
        min-width: 86.88px;
        max-height: 23px;
        margin-right: 95px;
        line-height: 19,5px;
    }
    
    .header-lessons-text{
        font: 11px Roboto;
        min-width: 86.88px;
        max-height: 23px;
        line-height: 14,3px;
        margin-top: 1px;
    }

    .header-time{
        margin-top: 95px;
    }
    
    .header-time-title{
        font: 15px Roboto;
        font-weight: 700;
        min-width: 86.88px;
        max-height: 23px;
        margin-right: 95px;
        line-height: 19,5px;
    
    }
    
    .header-time-text{
        font: 11px Roboto;
        min-width: 86.88px;
        max-height: 23px;
        line-height: 14,3px;
        margin-top: 1px;
    }

    .header-weeks{
        margin-top: 95px;
    }

    .header-weeks-title{
        font: 15px Roboto;
        font-weight: 700;
        min-width: 86.88px;
        max-height: 23px;
        margin-right: 95px;
        line-height: 19,5px;
    }
    
    .header-weeks-text{    
        font: 11px Roboto;
        min-width: 86.88px;
        max-height: 23px;
        line-height: 14,3px;
        margin-top: 1px;
    }

    .header-title-about-format{
        font: 32px Roboto Slab;
        margin-top: 103px;
        margin-left: 71px;
        min-width: 386.3px;
        max-height: 54px;
        line-height: 32.44px;
        font-weight: 700;
        margin-bottom: 51.55px;
    }

    .header-vebinar, .head-access, .head-communication{
        margin-left: 70.66px;
    }

    .head-vebinar-title, .head-communication-title{ 
        font-size: 15px;
        line-height: 19,5px;
        min-width: 87px;
        max-height: 23px;
        margin-bottom: 1px;
    }

    .head-vebinar-text, .head-communication-text{
        font-size: 11px;
        line-height: 14,3px;
        min-width: 153px;
        max-height: 22px;
        margin-right: -13px;
    }

    .head-access-title{
        font: 15px Roboto;
        min-width: 124px;
        max-height: 23px;
        line-height: 19,5px;
        margin-bottom: 1px;
        font-weight: 700;
    }
    
    .head-access-text{
        font: 11px Roboto;
        min-width: 172px;
        max-height: 63px;
        line-height: 14.3px;
        margin-right: -11px;
    }

    .header-end-info{
        margin-top: 103px;
    }

    .header-end-title{
        font-size: 32px;
        line-height: 32.44px;
        min-width: 386px;
        max-height: 54px;
        margin-left: 70.08px;
    }

    .header-end-tablic{
        font-size: 14px;
        line-height: 21px;
        min-width: 389px;
        padding-top: 23px;
        margin-left: 80px;
    }

    .header-end-shpagi{
        min-width: 157px;
        max-height: 93px;
    }
    
    .header-end-dino{
        margin-top: 70px;
        min-width: 224px;
        max-height: 110px;
    }

    .main-menu{
        max-width: 834px;
        width: 100%;
        margin: 0 auto;
    }
    
    .main-section-title{
        display: flex;
        margin-top: 145px;
        justify-content: space-between;
        margin-bottom: 86.88px;
    }

    .main-title{
        width: 35.7%;
        max-height: 43px;
        font-size: 32px;
        /* поправить после шапки font-size: vw; */
        margin-right: 70px;
        margin-left: 70px;
    }

    .main-div-in-section{
        width: 47.7%;
        min-height: 8px;
        margin-right: 0;
        margin-top: 25px;
    }

    .main-section-img{
        margin-left: 48.65px;
        margin-top: 23.75px;
    }

    .main-section-img-1{
        margin-left: 48.65px;
        margin-top: 23.75px;
    }

    .main-div-img{
        max-width: 27.7%;
        margin-right: 21.43px;
    }

    .main-p-title{
        width: 83%;
        font-size: 17px;
        /* поправить после шапки и также в основном font-size: 1rem; */
        max-height: 22.59px;    
        line-height: 22.1px;
        white-space: nowrap;
    }

    .main-p-text{
        width: 83%;
        font-size: 14px; 
        max-height: 36.49px;    
        line-height: 18.2px;
        white-space: nowrap;       
    }

    .fix{
        width: 83%;
        font-size: 17px;
        max-height: 41.12px;
        line-height: 22.1px;
        white-space: nowrap; 
        padding: 11px 4px 17px 20px;
    }

    .main-img-computer{
        padding-left: 74.3%;
        padding-right: 67.18px;
        max-height: 200px;
        box-sizing: padding-box;
    }

    .main-author-title{
        width: 29.01%;
        font-size: 32px;
        margin-left: 70.66px;
        /* поправить после шапки font-size: vw; */
    }

    .main-avatar-1{
        min-width: 109px; 
        max-height: 103px;
        margin-left: 90.35px;
    }

    .main-avatar-2{
        min-width: 19%; 
        max-height: 96px;
        margin-left: 0px;
    }

    .main-p-avatar-header{
        min-width: 58%;
        max-height: 34.17px;
        line-height: 17.24px;
        font-size: 17px;
        margin-right: 11.93px;
        margin-left: 11px;
        margin-top: 80px;
    }

    .main-p-avatar-text{
        font-size: 10px;
        min-width: 70%;
        max-height: 17.95px;
        margin-right: 39.38px;
        margin-left: 11px;
        margin-top: 5px;  
    }

    .main-icon-action-one{
        margin-top: 75px;
        margin-left: 0px;  
    }

    .main-section-avatar-2{
        margin-top: 50px;
    }

    .main-section-avatar-1{
        max-width: 430px;
    }

    .main-icon-avatar-2{
        padding-left: 0px;
        margin-top: 40px;
        margin-left: -80px;
    }

    .main-comp-text-2{
        max-height: 120px;
        min-width: 200px;
        width: 200px;
        top: 60px;
        left: -200px;
        padding: 20px;
    }

    .main-comp-text-1{
        max-height: 180px;
        min-width: 190px;
        bottom: 0px;
        right: 30px;
        padding: 20px;
    }

    .main-p-in-comp-text{
        font-size: 10px;
        font-family: Roboto;
        line-height: 23,4px;
        padding-bottom: 20px;
    }
    
    .main-author-title{
        padding-top: 70px;
    }
}

@media screen and (min-width: 375px) and (max-width: 833px) {
    

    .header-propirties {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    
    .header-logo {
        min-width: 52.19px;
        max-height: 30.75px;
        padding-top: 36px;
        padding-left: 35px;
        margin: 0 0 29px 35px;
    }

    .header-image-information{
        width: 98px;
        margin: 0 0 0 0;
    }
    .header-globus {
        
        /* height: 9.79px; */ */
        padding: 0 0 0 5px;
        margin: 0 0 0 30%;
    }
    .image-globus {
        margin: 0 4px 0 35px;
        width: 10px;
    }
    .text-globus {
        margin-right: 15px;
        font-size: 10px;
        padding: 11px 0 0 0;

    }
    
    .image-clock {
        width: 10px;
        padding-left: 50px: ;
    }
    .text-clock {
        font-size: 10px;
        padding:  11px 0 0 4px;
        margin-right: 18px;
    }
    .image-calendar {
        width: 10px;
        padding-top: 9px;
    }
    
    .text-calendar {
        font-size: 10px;
        padding: 10px 0 0 7px;
    }

    .header-title {
        font-size: 37px;
        padding: 10px 0 0 65px;
        margin: 0 0 0 0;
        line-height: 38px;
    }

    .header-information {
        font-size: 10px;
        padding: 12px 0 0 65px;
        line-height: 17px;
    }

    .header-producer {
        width: 150px;
        margin: 140px 0 0 -200px;
        padding: 10px 0 0 100px;
    }

    .header-ticket {
        margin: 33px 0 0 73px;
        width: 225px;
        height: 91px;
        border-radius: 2%;
    }

    .ticket-text-main {
        
        width: 205px;
        height: 80px;
        font-size: 68%;
        line-height: 15px;
        padding: 6px 0 0 15px;
    }
    .ticket-author {
        width: 205px;
        height: 80px;
        font-size: 68%;
        line-height: 15px;
        padding: 6px 0 0 15px;
    }


    /**/
    .main-menu{
        max-width: 833px;
        min-width: 375px;
        width: 100%;
        margin: 0 auto;
    }

    .main-title{
        font-size: 6vw;
        margin-left: 10%;
        min-width: 240px;
        width: 100%;
        min-height: 32px;
        line-height: 26.36px;
        white-space: nowrap;
        margin-right: 0px;
    }

    .main-div-in-section{
        min-width: 70px;
        width: 50%;
        max-height: 10px;
        margin-right:0px;
        margin-top: 15px;
    }

    .main-section-img{
        flex-flow: column;
        margin-top: 0px;
        margin-left: 25%;
        margin-right: 90px;
        width: 50%;
        max-height: 1391px;
    }
    
    .main-section-img-1{
        flex-flow: column;
        margin-top: 47px;
        margin-left: 25%;
        margin-right: 90px;
        max-height: 1391px;
        width: 50%;
    }

    .main-div-img{
        margin-right: 0px;
        min-width: 186px;
        width: 100%;
        min-height: 152px;
        margin-bottom: 10px;
    }

    .main-div-pic{
        min-width: 186px;
        min-height: 75px;
        width: 100%;
    }

    .main-p-title{
        font-size: 4vw;
        min-width: 170px;
        max-height: 18px;
        line-height: 18.2px;
        padding: 20px 6.52px 25px 20px;
        white-space: nowrap;
    }

    .main-p-text{
        min-width: 170px;
        max-height: 30px;
        font-size: 3vw;
        line-height: 30px;
        padding: 0px 6.99px 55px 20px;
    }

    .fix{
        font-size: 4vw;
        font-weight: 700;
        width: 90%;
        max-height: 71px;
        font-family: Roboto;
        line-height: 29,1px;
        padding: 20px 6.52px 25px 20px;
    }

    .main-img-computer{
        display: none;
    }

    .main-author-title{
        font-weight: 700;
        font-size: 6vw;
        width: 45%;
        margin-top: 0px;
        margin-right: 413px;
        margin-left: 14.7%;
        font-family: Roboto Slab;
        white-space: nowrap;
        padding-top: 9%;   
    }

    .main-avatar-1{
        width: 26.3%;
        height: 15.2%;
        /* min-width: 0;
        max-height: 0; */
        margin-top: 46px;
        margin-left: 10%;
        margin-bottom: 0px;
    }

    .main-p-avatar-header{
        width: 21.6%;
        max-height: 59px;
        font-family: Roboto Slab;
        font-weight: 700;
        font-size: 4vw;
        line-height: 30,42px;
        margin-left: 20px;
        margin-top: 60px;
        margin-right: 0px;
        white-space: nowrap;
    }
}


