@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;700;800;900&display=swap');

.feedback {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #EFEFEF;
}

.feedback__title {

    display: flex;
    width: 69%;
    height: 12%;


    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 3.81944444vw;
    line-height: 3.87222222vw;
    color: #000000;
    margin-top: 6.32%;
    margin-left: 8.47%;
    margin-bottom: 5.37%;
}

.feedback__palehova {
    display: block;
    width: 62%;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgb(0 0 0 / 25%);
    border-radius: 30px;
    margin-left: 8.85%;
    margin-bottom: 7.71%;
}

.feedback__palehova-text {
    display: flex;
    width: 89%;
    height: 45%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.38888889vw;
    line-height: 2.08333333vw;
    color: #000000;
    margin: 2.77777778vw auto 0.69444444vw;
 
}

.feedback__palehova-foto {
    width: 24%;
    height: 38%;
    margin-left: 26px;
    margin-bottom: 29px;
}

.feedback__palehova-signature {
    display: flex;

}

.feedback__palehova-name-container {
    flex-direction: column;
    width: 45%;
    height: 35%;
    margin-left: 30px;
    margin-bottom: 29px;

}


.feedback__palehova-name {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
    margin: 65px 0 30px 0;
    color: #000000;
}

.feedback__palehova-icon {
    display: flex;
    width: 32px;
    height: 31px;
}



@media screen and (min-width: 834px) and (max-width: 1279px) {
   

    .feedback__palehova {
    
        height: 269px;
        margin: 20px 290px 57px 75px;
        width: 458.12px;
}

    .feedback__title {

        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 101.38%;



    }
    
    .feedback__palehova-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: 150%;
        width: 405.42px;
        height: 117.57px;
        color: #000000;
        margin: 27px 0 0 25px;
        font-size: 12px;
        padding-bottom: 4px;
    }
    
    .feedback__palehova-foto {
        width: 110.04px;
        height: 97.88px;
        margin-left: 14px;
    }

    .feedback__palehova-name-container {
        margin-left: 17px;
    }

    .feedback__palehova-name {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 101.38%;
        margin: 23px 0 10px 0;
    }

    .feedback__palehova-icon {
    height: 18px;
    margin-top: 7px;
    }

}
@media screen and (min-width: 375px) and (max-width: 833px) {
   
    .feedback {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #EFEFEF;
    }
    
    .feedback__title {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 101.38%;
        height: 69px;
        margin-top: 42px;
        margin-left: 36px;
        margin-bottom: 11px;
        margin-right: 83px;
        width: 250px;
    }
    
    .feedback__palehova {
        display: block;
        width: 308px;
        height: 248px;
        background: #FFFFFF;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        margin-left: 35px;
        margin-bottom: 53px;
        margin-right: 36px;
    }
    
    .feedback__palehova-text {
        display: flex;
        width: 266px;
        height: 111.01px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 150%;
        margin-bottom: 21px;
        color: #000000;
        margin-top: 20px;
    }
    
    .feedback__palehova-foto {
    width: 94px;
    height: 84px;
    margin-left: 15px;
    margin-bottom: 13px;
    margin-right: -3px;
    }
    
    
    .feedback__palehova-signature {
        display: flex;
        height: 90px;
    }
    
    .feedback__palehova-name-container {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin-left: 13px;
        margin-bottom: 30px;
        margin-top: 0;
        height: 65px;
    }
    
    .feedback__palehova-name {
        display: flex;
        width: 165px;
        height: 33px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 101.38%;
        margin: 17px 0px 0 -5px;
        color: #000000;
    }
    
    .feedback__palehova-icon {
        display: flex;
        margin: 0px 0 30px 0;
        width: 14.91px;
        height: 17.2px;
    }
    
    
    .feedback__palehova-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 150%;
    }
    
    
    .feedback__palehova-name {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 101.38%;
    }
}