

.price {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 54.1666667vw;
    background: #9DC9C8;
}

.price__title {
    width: 63.0555556vw;
    height: 4.58333333vw;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 3.81944444vw;
    line-height: 3.87222222vw;
    margin-top: 12.4305556vw;
    margin-left: 8.47222222vw;
    margin-bottom: 3,75vw;
    color: #000000;
}

.price__ruble {
    flex-direction: column;
    margin-left: 8.47222222vw;
    margin-bottom: 2.08333333vw;
    width: 26.25vw;
    height: 12.5694444vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 5.55555556vw;
}
.price__ruble-stoimost {
    margin-bottom: 0px;
    width: 11.8055556vw;
    height: 2.22222222vw;
    margin-top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.73611111vw;
    line-height: 1.76041667vw;
    color: #000000;

}
.price__ruble-3900 {
    width: 26.25vw;
    height: 6.31944444vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 5.55555556vw;
    line-height: 1.76041667vw;
    color: #000000;
    margin-top: 2.486111vw;
}


.price__all-conditions {
    display: flex;
    width: 47.6388889vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin-left: 8.47222222vw;
    margin-bottom: 12.8472222vw;
}

.price__offers {
    flex-direction: column;
    width: 22.361111vw;
}

.price__conditions {
    flex-direction: column;
    margin-right: 4.86111111vw;
    width: 22.361111vw;

}
.conditions__level {
    margin-bottom: 0.625vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.73611111vw;
    line-height: 1.76041667vw;
    color: #000000;
    width: 20.4166667vw;
    height: 2.22222222vw;
    
}
.conditions__for-whom {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    line-height: 1.26736111vw;
    color: #000000;
    width: 20.4166667vw;
    height: 4.86111111vw;
}

.conditions__come-now {
    margin-bottom: 0.625vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.73611111vw;
    line-height: 1.76041667vw;
    color: #000000;
    width: 20.4166667vw;
    height: 2.22222222vw;
}

.conditions__too-late {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    line-height: 1.26736111vw;
    color: #000000;
    width: 20.4166667vw;
    height: 4.86111111vw;
}

p {
    margin: 0;
}